.dialog-main{
    padding: 5px;
}
#no-button{
    color: white;
    background-color: rgb(241, 30, 30);
    width: 45%;
    border: none;
}

#yes-button{
    color: white;
    background-color: rgb(44, 30, 241);
    width: 45%;
    border: none
}
#close{
    top:0;
    float: right;
}