
<!-- Footer -->
<div style=" margin-top: 100px;" >

    
    <div style="background-color:rgb(178, 252, 191);height: 40px;">
      
      <p style=" color:rgb(21, 66, 53); font-family: Lucida Sans;">Get connected with us</p>

       <!--Linkedin -->
       <a class="li-ic">
          <i class="fa fa-linkedin white-text mr-4"> </i>
        </a>
    </div>


<!-- Copyright -->
<div class="copyright text-center">@2019 Copyright:
  <a href="#">MEDS Ltd Uganda. All rights Reserved</a>
</div>
<!-- Copyright -->


</div>

                            
      