<!-- Footer -->
<div style=" margin-top: 100px;" >

    
            <div style="background-color:rgb(99, 99, 102);height: 40px;">
              
              <p style=" color:#ffff; font-family: Lucida Sans;">Get connected with us</p>

               <!--Linkedin -->
               <a class="li-ic">
                  <i class="fa fa-linkedin white-text mr-4"> </i>
                </a>
            </div>
  
      
        <!-- Copyright -->
        <div class="copyright text-center">@2019 Copyright:
          <a href="#">MEDS Ltd Uganda. All rights Reserved</a>
        </div>
        <!-- Copyright -->

  </div>
  <!-- Footer -->
                            
      