<h4> MANAGE PRODUCTS</h4>

<!--card-->
    <div class="row" style="margin-left:20px;">
            <div class="col-md-3 card" *ngFor="let product of filterProducts" style="margin:10px;">

                    <img class="card-image"
                    src="data:image/png;base64,{{product.image}}" 
                    alt="product_image"
                    height="100px"
                    width="100%"
                    >
                <!--card body-->
                <div class="card-body">
                <p class="card-title">{{product.name}}</p>
                <p class="card-text">${{product.price}}</p>
                <p class="card-text">Added by: {{product.user.firstName}}</p>
                <!--delete and update -->
                <div>
                    <span (click)="editProduct(product)"  style="color:purple; font-weight: bold;" >
                        <fa-icon [icon]="faEdit"  ></fa-icon>
                        Edit&nbsp;
                    </span>
                    <span (click)="deleteProduct(product)" style="color:red; font-weight: bold;">&nbsp;
                        <fa-icon [icon]="faTrash" ></fa-icon>
                        Delete
                    </span>
                </div>
                </div>
            </div>
    </div>

    <mat-paginator
    [length] = "length"
    [pageSize] ="defaultRecords"
     [pageSizeOptions]="[3,5, 10, 20]" 
     
    (page) ="pageEvent = $event; onPaginateChange($event)"

    >

    </mat-paginator>


