h4{
    font-family: 'Lucida Sans';
    font-weight: bold;
    text-align: center;
    text-decoration: rgb(31, 30, 30);
    padding: 10px;
}
.card-title{
font-weight: 1000 !important;
}
.card-text{
font-weight: 800 !important;
}


.pagination > .active > a
{
    color: white;
    background-color: #007E33  !Important;
    border: solid 1px #007E33  !Important;
}

.pagination > li > a
{
    color: black;
    font-weight: bolder;
    margin: 2px;
    border: solid 1px #007E33  !Important;
}


