<!--container-fluid-->
<div class="text-font container-fluid">
      <!-- row -->
      <div class="row">

          <!-- column -->
          <div class="col-sm-3 col-md-3 col-lg-3"></div>
          <!-- column -->

        <!-- column -->
        <div class="col-sm-6 col-md-6 col-lg-6 formholder">
        <!-- form -->
        <form class=" z-depth-1-half form" #f = "ngForm" (ngSubmit)=" f.valid && login()" method="POST">
           
          <!-- <fa-icon [icon]="faUserCircle" size="4x" class="icon"></fa-icon>  -->
          
          <div class="icon ">
              <mdb-icon fas icon="user" style="color:rgb(19, 80, 42)" size="3x"></mdb-icon>
          </div>

          <!-- login error -->
          <small *ngIf="errorMessage" class="text-danger text-center ">{{errorMessage}}</small>
  
              <!-- input email -->
              <div class="md-form formInput">
                  <i class="fa fa-envelope prefix"></i>
                  <label for="email">Your email</label>
                  <input type="email" name="email" id="email" class="form-control"
                  [(ngModel)]="model.username"
                  #email = "ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && email.invalid}"
                  required email
                  />
                   <div *ngIf="f.submitted && email.invalid" class="invalid-input">
                      <small *ngIf="email.errors?.required">Field is required</small>
                      <small *ngIf="email.errors?.email">Field is not an email</small>
                   </div>
              </div>
              
              <!-- input password -->
              <div class="md-form formInput">
                  <i class="fa fa-lock prefix"></i>
                  <label for="password">Your password</label>
                  <input type="password" name="password" id="password"  class="form-control" 
                  [(ngModel)]="model.password"
                  #pass = "ngModel"
                  [ngClass]= "{ 'is-invalid': f.submitted && pass.invalid}"
                  required
                  />
                   <div *ngIf="f.submitted && pass.invalid" class="invalid-input">
                       <small *ngIf="pass.errors?.required">Field is required</small>
                   </div>
              </div>
              <!-- button -->
              <div class="text-center " style="margin: auto">
                   <button class="btn btn-primary" type="submit" name="submit">
                     Login
                    </button>
              </div>

              <!--  -->
              <div class="text-center " style="margin: auto;color: black; font-weight: bold;">
                <small>Forgot password?</small>
                <p routerLink="/register">Don't have an account? Register</p>
             </div>

              <!--spinner/loader-->
            <div *ngIf="spinnerShown" class="d-flex justify-content-center">
                <div  class="spinner-border text-success" role="status">
                  <span class="sr-only">Logging you in...</span>
                </div>
            </div>
              
          </form>
          <!-- form -->
        </div>
        <!-- column -->
        
        <!-- column -->
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
        <!-- column-->
        
      </div>
      <!-- row -->

</div>
<!--container-fluid-->