<!--container-->
<div class="container" style="margin-top:90px; margin-bottom: 410px;" >

<!--row-->
<div class="row">
  
<!--column-->
  <div class="col-sm-12 z-depth-1-half" style="padding: 5px; margin: 10px;">
    <h4 class="text-center" > 
      <small class="badge badge-light" style="margin: 5px;" (click)="goToCheckOut()">
        {{number_of_items}}
      </small>
      <fa-icon [icon]="faShoppingCart" style="color: grey;" (click)="goToCheckOut()"></fa-icon>
      <small (click)="goToCheckOut()">
        {{cartName}}
      </small>
     <!--<span *ngIf="cartError" class="text-danger">
        {{cartError}}
      </span>-->
    </h4>
  </div>
  <!--column-->
</div>
<!--row-->

<!--row-->
<div class="row">

  <!--column-->
  <div class="col-md">
     <!--spinner/loader-->
     <div *ngIf="spinnerShown" class="d-flex justify-content-center">
        <div  class="spinner-border text-success" role="status">
           <span class="sr-only">Loading...</span>
         </div>
       </div>
  </div>
<!--column-->

</div>
<!--row-->

<!--row-->
<div class="row" style="margin-top: 20px;">

<!--column-->
<div class="col-sm-4" *ngFor="let product of products" style="margin-bottom: 10px;">
  
  <div *ngIf="products == null"><b>No products available</b></div>
  <!--card-->
  <mdb-card >

    <!--image-->
    <mdb-card-img class="mdb-card-img  img-fluid rounded"
        src="data:image/png;base64,{{product.image}}" 
        alt="product_image"
        >
    </mdb-card-img>

    <!--card-content-->
    <mdb-card-body>
       <!--Title-->
       <mdb-card-title>
         <h4>{{product.name}}</h4>
       </mdb-card-title>
      
       <!--Text-->
       <mdb-card-text>
          ${{product.price}}
       </mdb-card-text>
        
    </mdb-card-body>
    <!--card-content-->
    
    <!--add to cart button -->
      <a
      mdbBtn
      color="success" outline="true" class="btn-sm"
      (click)="addToCart(product,$event.currentTarget)"
      >
        Add to cart
      </a>
    <!--add to cart button -->

  </mdb-card >
<!--card-->
   
     
</div>
<!--column-->
</div>
<!--row-->

   <!--Paginaiton row-->
   <div class="row">
    <!--col-->
    <div class="col-md">
        <!--nav-->  
            <nav aria-label="Page navigation example">
                <ul class="pagination  pg-teal justify-content-center">
                <li 
                    class="page-item" 
                    *ngFor="let p of pages; let i = index"
                    [ngClass]="{ 'active': i == page }"
                    >
                    <a 
                    class="page-link "
                    mdbWavesEffect 
                    (click)="setPage(i,$event)"
                    >
                     {{i}}
                    </a>
                </li>
                </ul>
            </nav>
        <!--nav-->
    </div>
    <!--col-->   
</div>
<!--Paginaiton row-->



</div>
<!--container-->
