<!--container-->
<div class="container" style="margin-top:90px; margin-bottom: 410px;" >

<!--row-->
<div class="row">
  <div class="col-md-12 col-sm-12 col-lg-12 z-depth-1-half" style="padding: 5px;">
    <h4 class="text-center" > 
      <small class="badge badge-light" style="margin: 5px;" (click)="goToCheckOut()">
        {{number_of_items}}
      </small>
      <fa-icon [icon]="faShoppingCart" style="color: grey;" (click)="goToCheckOut()"></fa-icon>
      <small (click)="goToCheckOut()">
        {{cartName}}
      </small>
    </h4>
  </div>
</div>
<!--row-->

<!--row-->
<div class="row" style="margin-top: 20px;">
<div class="col-3 col-sm-3 col-md-3" *ngFor="let product of products">
  
  <div *ngIf="products == null"><b>No products available</b></div>


  <!--card-->
  <mat-card  >
    <img mat-card-image
        src="data:image/png;base64,{{product.image}}" 
        alt="product_image"
        >
    <!--mat-card-content-->
    <mat-card-content>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>${{product.price}}</mat-card-subtitle>
    </mat-card-content>
    <!--mat-card-content-->
    
    <!--add to cart button -->
    <mat-card-actions>
      <button 
      mat-button
      class="btn btn-outline-success btn-sm"
      (click)="addToCart(product,$event.currentTarget)"
      >
        Add to cart
      </button>
    </mat-card-actions>
    <!--add to cart button -->

  </mat-card>
<!--card-->
   
     
</div>
</div>
<!--row-->



</div>
<!--container-->
