.mycontainer
{
display: flex;
flex-wrap: wrap;
}

#shopping-cart-title{
    padding: 5px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: black;
    color: aliceblue;
}
.cart-text{
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn-change{
    color:white !important;
    background-color: red !important;
}



