<!--container-->
<div class="container">
      <!--row-->
      <div class="row">
            <!--column-->
            <div class="col-md">
                        <h4> ADD PRODUCTS</h4>
                         <!--form-->
                        <form #f="ngForm" (ngSubmit)=" f.valid && addProduct();" class="form">
                    
                                    <!-- input product image -->
                                    <div class="md-form formInput text-center">
                                           <input 
                                           style="display: none"
                                           type="file" 
                                           (change)="onFileSelected($event)"
                                           #fileInput
                                           >    
                                           <button 
                                           type="button"
                                           style="border: none; border-radius: 100%; width: 150px; height: 100px;"
                                           (click)="fileInput.click()"
                                           >Pick a product image
                                           </button>
                               
                                           <div >
                                                 <small class="invalid-input" *ngIf="imageError">{{imageError}}</small>
                                                 <small class="text-info" *ngIf="imageName"> {{imageName}} </small>
                                           </div>     
                                           
                                   </div>
                               
                               
                                         <!-- input product name -->
                                         <div class="md-form formInput">
                                               <i class="fa fa-envelope prefix" style="color:#007E33;"></i>
                                               <label for="productname">Product Name</label>
                                               <input type="text" name="productname" id="productname" class="form-control"
                                               [(ngModel)]="model.name"
                                               #productname = "ngModel"
                                               [ngClass]="{ 'is-invalid': f.submitted && productname.invalid}"
                                               required
                                               />
                                                <div *ngIf="f.submitted && productname.invalid" class="invalid-input">
                                                   <small *ngIf="productname.errors?.required">Field is required</small>
                                                </div>
                                           </div>
                               
                                              <!-- input product price -->
                                         <div class="md-form formInput">
                                               <i class="fa fa-envelope prefix" style="color: #007E33;"></i>
                                               <label for="productprice">Product price</label>
                                               <input type="text" name="productprice" id="productprice" class="form-control"
                                               [(ngModel)]="model.price"
                                               #productprice = "ngModel"
                                               [ngClass]="{ 'is-invalid': f.submitted && productprice.invalid}"
                                               required
                                               />
                                                <div *ngIf="f.submitted && productprice.invalid" class="invalid-input">
                                                   <small *ngIf="productprice.errors?.required">Field is required</small>
                                                </div>
                                          </div>
                               
                                       <!-- button -->
                                        <div class="text-center">
                                               <button class="btn btn-primary" type="submit" name="submit">Add product</button>
                                        </div>

                                           <!--spinner/loader-->
                                    <div *ngIf="spinnerShown" class="d-flex justify-content-center">
                                          <div  class="spinner-border text-success" role="status">
                                          <span class="sr-only">Saving product you in...</span>
                                          </div>
                                    </div>
                               
                                     <!-- sucess message -->
                                     <div class="text-center">
                                          <p *ngIf="successMessage" class="text-success ">
                                                <b>{{successMessage}}</b>
                                          </p>
                                          <p *ngIf="errorMessage" class="text-danger">
                                                <b>{{errorMessage}}</b>
                                          </p>
                                     </div>
                               </form>
                                <!--form-->

            </div>
            <!--column-->

      </div>
      <!--row-->

</div>
<!--container-->