.pay-button{
    color: white;
    background-color: #007E33;
}
.invalid-input{
    color:red;
}

/* .md-form , .form-sm input[type=text]:focus:not([readonly]) + label { color: #007E33 !important; } */