table{
    width: 100%;
}
h4{
    font-family: 'Lucida Sans';
    font-weight: bold;
    text-align: center;
    text-decoration: rgb(31, 30, 30);
    padding: 10px;
    text-transform: uppercase;
}
.search-input{
    width: 50% !important;
    margin-left: 100px !important;
}
.btn-success
{
    background-color: #007E33 !important;
}

input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid rgb(6, 175, 6) !important;
    box-shadow: 0 1px 0 0 rgb(6, 175, 6) !important; 
}

