<h4>view orders</h4>

<!--row-->
<div class="row">
    <!--col-->
    <div class="col-md-12">
        <div class="mat-elevation-z8">
            <!--search -->
            <mat-form-field floatLabel="never" class="search-input">
                <input matInput [(ngModel)] ="searchKey" placeholder="Search" autocomplete="off" (keyup)="filterTable()">
            </mat-form-field>

            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="clearSearch()">
                <mat-icon>X</mat-icon>
            </button>
            <!--search -->

        <!--mat table-->
        <table mat-table  [dataSource] = "dataSource" matSort>
             <!-- Name Column -->
             <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header> <b>Id </b></th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
             </ng-container>

             <!-- Customer Name -->
             <ng-container matColumnDef="customer.name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.user.firstName}} {{element.user.lastName}} </td>
              </ng-container>

             <!-- Product name Column -->
             <ng-container matColumnDef="product.name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header > <b>Product Name </b> </th>
                    <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
             </ng-container>

              <!-- Amount Paid Column -->
              <ng-container matColumnDef="amount_paid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header > <b>Amount Paid </b> </th>
                    <td mat-cell *matCellDef="let element"> {{element.amount_paid}} </td>
              </ng-container>

               <!-- Customer Phone Number Column -->
               <ng-container matColumnDef="product.user.phone">
                    <th mat-header-cell  *matHeaderCellDef  mat-sort-header><b> Customer Phone Number </b> </th>
                    <td mat-cell *matCellDef="let element">
                         {{element.product.user.phone}} 
                         <fa-icon [icon] ="faPhone"></fa-icon>
                        </td>
              </ng-container> 

              <!-- Amount Paid Column -->
              <ng-container matColumnDef="status">
                    <th mat-header-cell  *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
              </ng-container>

              <!-- Date paid Column -->
              <ng-container matColumnDef="date_paid">
                <th mat-header-cell  *matHeaderCellDef mat-sort-header> Date Paid </th>
                <td mat-cell *matCellDef="let element"> {{element.date_paid}} </td>
          </ng-container>

             <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
             <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!--mat table-->
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
    <!--col-->
</div>
<!--row-->

