<!--row-->
<div class="container-fluid row" style="margin-top: 50px;"> 
    
<!--column right-->
<!--side navigation-->
<div class="side-nav-div-left col-sm-4 c0l-md-4 col-lg-4 z-depth-1-half">
    <!--side navigation header-->
    <div class="side-nav-header">
        <p>
            Admin
        </p>
    </div>
     <!--side navigation header-->

     <!--side navigation items-->
    <ul class="navbar-nav" >
            <li class="list-item" style="margin-top:20px;">
                    <a [routerLink]="[{ outlets: {rightdiv: ['addProduct'] } }]" skipLocationChange>
                        <fa-icon [icon]="faBook" size="2x" class="icon"></fa-icon>
                        Add Product
                    </a>
            </li>
        <li class="list-item" style="margin-top: 10px;">
            <a [routerLink]="[{ outlets: {rightdiv: ['']} }]" skipLocationChange>
            <fa-icon [icon]="faEdit" size="2x" class="icon"></fa-icon>
                Manage Products
            </a>
        </li>

        <li class="list-item">
            <a [routerLink]="[{ outlets: {rightdiv: ['vieworders'] } }]" skipLocationChange>
                <fa-icon [icon]="faBookOpen" size="2x" class="icon"></fa-icon>
                View orders
            </a>
        </li>

        <li class="list-item">
            <a [routerLink]="[{ outlets: {rightdiv: ['settings']}}]" skipLocationChange>
                <fa-icon [icon]="faCogs" size="2x" class="icon"></fa-icon>
                Settings
            </a>
        </li>
    </ul>
    <!--side navigation items-->
</div>
<!--side navigation-->
<!--column-->


<!--column left-->
<div class="side-nav-div-right col-sm-8 c0l-md-8 col-lg-8 z-depth-1-half">
        <router-outlet name="rightdiv"></router-outlet>
</div>
<!--column-->

</div>
<!--row-->
