<h4>settings</h4>

 <!-- row -->
 <div class="row">
    <!-- column -->
    <div class="col-sm-3 col-md-3 col-lg-3"></div>

  <div class="col-sm-6 col-md-6 col-lg-6 formh">
           <!-- form -->
  <form class=" z-depth-1-half form" #f = "ngForm" (ngSubmit)=" f.valid && changePassword()" method="POST">
          <!--  error -->
          <small *ngIf="errorMessage" class="text-danger text-center ">{{errorMessage}}</small>
           <!--  error -->
           <small *ngIf="successMessage" class="text-success text-center ">{{successMessage}}</small>
        
        <!-- input password -->
        <div class="md-form formInput">
            <i class="fa fa-lock prefix"></i>
            <label for="password">Your new password</label>
            <input type="password" name="password" id="password"  class="form-control" 
            [(ngModel)]="model.newPassword"
            #newPassword = "ngModel"
            [ngClass]= "{ 'is-invalid': f.submitted && newPassword.invalid}"
            required
            />
             <div *ngIf="f.submitted && newPassword.invalid" class="invalid-input">
                 <small *ngIf="newPassword.errors?.required">Field is required</small>
             </div>
        </div>
         <!-- input password -->
         <div class="md-form formInput">
          <i class="fa fa-lock prefix"></i>
          <label for="confirmPassword">Confirm password</label>
          <input type="password" name="confirmPassword" id="confirmPassword"  class="form-control" 
          [(ngModel)]="model.confirmPassword"
          #confirmPassword = "ngModel"
          [ngClass]= "{ 'is-invalid': f.submitted && confirmPassword.invalid}"
          required
          />
           <div *ngIf="f.submitted && confirmPassword.invalid" class="invalid-input">
               <small *ngIf="confirmPassword.errors?.required">Field is required</small>
           </div>
      </div>

        <!-- button -->
        <div class="text-center " style="margin: auto">
             <button class="btn btn-primary" type="submit" name="submit">Submit</button>
        </div>
        
    </form>
    <!-- form -->
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3"></div>
  <!-- column-->
</div>
<!-- row -->
