<!--container-->
<div class="container">
  <h4>settings</h4>

 <!-- row -->
 <div class="row" >
    <!-- column -->
    <div class="col-md"></div>

  <div class="col-md">
           <!-- form -->
  <form class="form" #f = "ngForm" (ngSubmit)=" f.valid && changePassword()" method="POST">
          <!--  error -->
          <small *ngIf="errorMessage" class="text-danger text-center ">{{errorMessage}}</small>
           <!--  error -->
           <small *ngIf="successMessage" class="text-success text-center ">{{successMessage}}</small>
        
        <!-- input password -->
        <div class="md-form formInput">
           <mdb-icon fas icon="lock" class="green-text pr-3"></mdb-icon>
            <label for="password">Your new password</label>
            <input type="password" name="password" id="password"  class="form-control" 
            [(ngModel)]="model.newPassword"
            #newPassword = "ngModel"
            [ngClass]= "{ 'is-invalid': f.submitted && newPassword.invalid}"
            required
            />
             <div *ngIf="f.submitted && newPassword.invalid" class="invalid-input">
                 <small *ngIf="newPassword.errors?.required">Field is required</small>
             </div>
        </div>
         <!-- input password -->
         <div class="md-form formInput">
          <mdb-icon fas icon="lock" class="green-text pr-3"></mdb-icon>
          <label for="confirmPassword">Confirm password</label>
          <input type="password" name="confirmPassword" id="confirmPassword"  class="form-control" 
          [(ngModel)]="model.confirmPassword"
          #confirmPassword = "ngModel"
          [ngClass]= "{ 'is-invalid': f.submitted && confirmPassword.invalid}"
          required
          />
           <div *ngIf="f.submitted && confirmPassword.invalid" class="invalid-input">
               <small *ngIf="confirmPassword.errors?.required">Field is required</small>
           </div>
      </div>

        <!-- button -->
        <div class="text-center ">
             <button class="btn btn-primary" type="submit" name="submit">Submit</button>
        </div>

          <!--spinner/loader-->
          <div *ngIf="spinnerShown" class="d-flex justify-content-center">
            <div  class="spinner-border text-success" role="status">
              <span class="sr-only">Logging you in...</span>
            </div>
        </div>
        
    </form>
    <!-- form -->
  </div>

  <div class="col-md"></div>
  <!-- column-->
</div>
<!-- row -->


</div>
<!--container-->