/*.formh{
    margin-top:150px !important;
    margin-bottom:200px !important;
   }*/
   
   .form{
       height: 350px !important;
       padding: 10px !important;
   }

   .fa{
       color: rgb(70, 70, 207) !important;
   }
   
   .form-control{
   border-bottom: 1px solid rgb(148, 147, 147) !important;
   }
   
   .invalid-input{
       color:red;
       margin-left: 35px;
   }

   h4{
    font-family: 'Lucida Sans';
    font-weight: bold;
    text-align: center;
    text-decoration: rgb(31, 30, 30);
    padding: 10px;
    text-transform: uppercase;
}
.btn-primary
{
    background-color:  rgb(8, 8, 8) !important ;
    margin-top: 30px !important;
    width: 100% !important;
}
