.flex-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
    flex-basis: auto;
    width: 100%;
    height: 100%;
}

.flex-item-1{
    height: 60%;
    width: 100%;
    padding: 20px;
    background-color: rgb(58, 57, 57);
    flex-grow: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex-item-1-content
{
    color: white;
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    width:100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

/*next div*/

.flex-item-2{
    height: 40%;
    width: 100%;
    padding: 25px;
    margin-top:90px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item-2-1
{
 flex-grow: 1;
  padding: 5px;
  margin: 5px;
}
.flex-item-2-2
{
    flex-grow: 1;
    padding: 5px;
    margin: 5px;
}
.flex-item-2-3
{
    flex-grow: 1;
    padding: 5px;
    margin: 5px;
}

.icon{
    padding: 10px;
}
.icon-label{
    padding: 10px;
    margin: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.icon-color{
    color: rgb(0, 0, 0);
}

