<!-- home-->
<div class="flex-box">

    <div class="flex-item-1 z-depth-1-half">
    
            <h4 class="flex-item-1-content">Buy world class Medicine</h4>
   
    </div>

    <div class="flex-item-2 ">
    
            <div class="flex-item-2-1 z-depth-1-half" >
                <fa-icon [icon]="faGift"  size="4x" class="icon icon-color"></fa-icon>
                <p class="icon-label">We value your health</p>
            </div>

            <div class="flex-item-2-2 z-depth-1-half" >
                    <fa-icon [icon] ="faCoffee"  size="4x" class="icon icon-color"></fa-icon>
                    <p class="icon-label">Health is wealth</p>
            </div>

            <div class="flex-item-2-3 z-depth-1-half">
                    <fa-icon [icon]="faHospital" size="4x" class="icon icon-color"></fa-icon>
                    
                    <p class="icon-label">Save more with us</p>
            </div>
   
    </div>


    
</div>


<!-- home-->
